{% extends 'base.html' %}
{% load form_filter %}
{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row mb-3  justify-content-center">
                        <div class="col-sm-5">
                            {{ field|addclass:"form-control" }}
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Зерегистрировать</button>
            </form>
        </div>
    </div>
{% endblock %}